.footer {
    padding: 20px 0 20px 0;
}


.textf , .logof, .social {
    margin: 0;
    text-align: center;
}



/********* LIGHT AND DARK ***************/
#dark .footer {
    background-color: black;
}
#light .footer {
    background-color: #AEBDCA;
}

#light .iconSocial, .foot {
    color: #303d49;
}

#dark .iconSocial, .foot {
    color: aliceblue;
}

#light .foot {
    color: #303d49;
}

#dark .foot {
    color: aliceblue;
}

